extends layout

block content
  h1 Niðurstöður margföldunar

  p Þú slóst inn:
  p #{input}
  if(foundNumbers.length === 0)
    p Engin tala fannst.
  else if (foundNumbers.length === 1)
    p Úr því fannst talan:
    p #{foundNumbers}
    p Get ekki margfaldað eina tölu.
  else
    p Úr því fundust tölurnar:
    p #{foundNumbers}
    p Margfeldið af þeim er:
    p #{multiplicationResults}
    if (multiplicationResults <= 0)
      p Sú tala á sér enga þætti.
    else
      p Þættir margfeldisins eru:
      p #{factors}

  hr

  p Endurtaka leikinn:

  // multiplication form
  form(method='POST' action='/')
    label(for='multiplicationbox') Tala eða tölur:
    textarea#multiplicationbox.form-control(type='text', rows="5", name="multiplicationbox", placeholder="")
    button.btn.btn-primary(type='submit') Margfalda og finna þætti